--root{
  --text-size: 15px;
}

html {
  width: 100%;
}

#root {
  text-align: center;
}

.navbar {
  font-family: Maison Neue Extended TRIAL;
  line-height: normal;
  letter-spacing: 0.02em;
}

.progressBar {
  margin-top: 30px;
  height: 87px;
}

.innerBar {
  top: 50%;
  position: relative;
  height: 2px;
  background: linear-gradient(121.85deg, #2AFADF -36.27%, #4C83FF 97.25%);
}

.wrapper {
  height: 36px;
}

.wrapper .active {
  background: linear-gradient(121.85deg, #2AFADF -36.27%, #4C83FF 97.25%);
}

.knob {
  position: absolute;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  padding: 2px;
  top: 50%;
  background: #cecece; 
  transform: translateY(-50%);
}

.circle {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: white;
}

.check {
  position: absolute;
  left: 36%;
  top: 22%;
  transform: rotate(45deg);
  height: 14.5px;
  width: 12.5px;
  border-bottom: 3px solid rgba(23, 151, 166, 0.83);;
  border-right: 3px solid rgba(23, 151, 166, 0.83);;
}

.knob:nth-child(1){
  left: 0;
}

.knob:nth-child(2) {
  left: calc(33.3% - 18px);
}

.knob:nth-child(3) {
  left: calc(66.6% - 18px);
}

.knob:nth-child(4) {
  left: calc(100% - 36px);
}

.progress-text > p {
  font-family: Maison Mono;
  line-height: 33px;
  font-size: var(--text-size);
  color: #919191;
}

.progress-text > p.active {
  color: #487BED;
}

.info {
  margin-top: 30px;
  width: 603px;
}

.info > p {
  font-family: Maison Neue;
  line-height: 30px;
  font-size: 22px;
  text-align: left;
  color: black;
}

.form {
  width: 291px;
  margin-top: 30px;
}

.form > .form-group {
  font-family: Maison Neue;
  line-height: 20px;
  font-size: var(--text-size);
  text-align: left;
  color: #6F7983;
  font-weight: bold;
}

.btn {
  width: 132px;
  height: 39px;
  font-family: Maison Neue Extended TRIAL;
  color: #FFFFFF;
}

input[type=submit] {
  background: linear-gradient(121.85deg, #2AFADF -36.27%, #4C83FF 97.25%);
  border: none;
}

